.welcome-page {
    display: flex; /* Center content vertically and horizontally */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; /* Ensure full viewport height */
    background-color: #f0f0f0; /* Light gray background */
    font-family: sans-serif; /* Default font */
  }
  
  .welcome-page h1 {
    font-size: 2rem; /* Larger heading */
    margin: 0; /* Remove default margin */
    padding: 0 1rem; /* Add some padding */
    text-align: center; /* Center the text */
  }
  img{
    width: 30px;
    height: 30px;
    transform: translateY(8px);
  }
 
  .welcome-page p {
    font-size: 1.2rem; /* Slightly smaller body text */
    margin-top: 1rem; /* Add some space after the heading */
    text-align: center; /* Center the text */
  }
  .Logout{
    background:#ccc;
    width:40px;
    height:40px;
    border-radius:50%;
    display:grid;
    place-items:center;
    font-size:24px;
  cursor:pointer
  }